<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Order</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>

<div class="container">
    <h1>Add Order</h1>
    <form th:action="@{/orders/add}" th:object="${order}" method="post">
<!--        <div class="col-6 mb-3">-->
<!--            <label class="form-label" for="id">Id: </label>-->
            <input class="form-control" type="hidden" th:field="*{id}" id="id">
<!--        </div>-->
        <div class="col-6 mb-3">
            <label class="form-label" for="OrderedAt">Order At: </label>
            <input class="form-control" type="text" th:field="*{OrderedAt}" id="OrderedAt">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="PaidAt">Paid At: </label>
            <input class="form-control" type="text" th:field="*{PaidAt}" id="PaidAt">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="total">Total: </label>
            <input class="form-control" type="text" th:field="*{total}" id="total">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="paid">Paid: </label>
            <input class="form-control" type="text" th:field="*{paid}" id="paid">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="changeMoney">Change: </label>
            <input class="form-control" type="text" th:field="*{changeMoney}" id="changeMoney">
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <br>
    <a th:href="@{/orders}">Back to List</a>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>