<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>

<div class="container">
    <h1>Order</h1>
    <a sec:authorize="hasAnyAuthority('ADMIN')"  th:href="@{/orders/add}">Add Order</a>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Order At</th>
            <th>Paid At</th>
            <th>Total Price</th>
            <th>Paid</th>
            <th>Change</th>
            <th sec:authorize="hasAnyAuthority('ADMIN')" >Action</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.OrderedAt}"></td>
            <td th:text="${order.PaidAt}"></td>
            <td th:text="${order.total}"></td>
            <td th:text="${order.paid}"></td>
            <td th:text="${order.changeMoney}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')" >
                <a th:href="@{/orders/edit/{id}(id=${order.id})}">
                    Edit
                </a> |
                <a th:href="@{/orders/delete/{id}(id=${order.id})}" onclick="return confirm('Are you sure?')">
                    Delete
                </a>
            </td>
        </tr>
    </table>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>