<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Meal</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>

<div class="container">
  <h1>Add Meal</h1>
  <form th:action="@{/meals/add}" th:object="${meal}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="name">Name: </label>
      <input class="form-control" type="text" th:field="*{name}" id="name">
      <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="category">Category: </label>
      <input class="form-control" type="text" th:field="*{category}" id="category">
      <span class="text-danger" th:if="${#fields.hasErrors('amountLeft')}" th:errors="*{amountLeft}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="amountLeft">Amount Left: </label>
      <input class="form-control" type="text" th:field="*{amountLeft}" id="amountLeft">
      <span class="text-danger" th:if="${#fields.hasErrors('amountLeft')}" th:errors="*{amountLeft}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="price">Price: </label>
      <input class="form-control" type="text" th:field="*{price}" id="price">
      <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label">Image: </label>
      <input type="file" name="imageUrl" id="imageUrl" accept="image/*" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <br>
  <a th:href="@{/meals}">Back to List</a>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>