<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meals</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>

<div class="container">
    <h1>Meals</h1>
    <a th:href="@{/meals/add}">Add Meal</a>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Amount Left</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        <tr th:each="meal : ${meals}">
            <td th:text="${meal.id}"></td>
            <td th:text="${meal.name}"></td>
            <td th:text="${meal.category}"></td>
            <td th:text="${meal.amountLeft}"></td>
            <td th:text="${meal.price}"></td>
            <td> <img height="120" th:src="@{/images/} + ${meal.imageUrl}" width="150"/></td>
            <td>
                <a th:href="@{/meals/edit/{id}(id=${meal.id})}">
                    Edit
                </a> |
                <a th:href="@{/meals/delete/{id}(id=${meal.id})}" onclick="return confirm('Are you sure?')">
                    Delete
                </a>
            </td>
        </tr>
    </table>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>