<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Food</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>

<div class="container px-2 py-5">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-6 mb-4" th:each="meal : ${meals}">
            <div class="card overflow-hidden">
                <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                     data-mdb-ripple-color="light">
                    <img width="100%" height="100%" th:src="${meal.imageUrl}"
                         class="img-fluid hover-effect object-fit-cover" alt="product"/>
                </div>
                <hr class="my-0"/>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="h4" th:text="${meal.name}"></p>
                        <p class="text-dark" th:text="${meal.amountLeft}"></p>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <p class="bold" th:text="${meal.price} + ' VND'"></p>
                    </div>
                </div>
                <hr class="my-0"/>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                        <form th:action="@{/meals/add-to-cart}" method="post" class="d-inline">
                            <input type="hidden" name="id" th:value="${meal.getId()}">
                            <input type="hidden" name="title" th:value="${meal.getName()}">
                            <input type="hidden" name="price"
                                   th:value="${meal.getPrice()}">
                            <button type="submit" class="btn btn-success"
                                    onclick="return confirm('Are you sure you want to add this meal to cart?')">
                                Add to cart
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{layout :: footer}"></th:block>

<th:block th:replace="~{layout :: getCartSize}"></th:block>
</body>
</html>